body {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    grid-template-areas: "header header"
        "nav main"
        "footer footer";
}

header {
    background-color: #555;
    color: white;
    padding: 10px;
    grid-area: header;
}

nav {
    background-color: whitesmoke;
    color: black;
    grid-area: nav;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 2%;
    border-color: whitesmoke;
    border-style: solid;
    /*width: 10%;*/
    background-color: whitesmoke;
}

nav>ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
nav>ul li a:hover {
    background-color: #555;
    color: whitesmoke;
}

.main-heading {
    margin-bottom: 0;
}

main {
    background-color: whitesmoke;
    color: black;
    margin-left: 1em;
    padding-left: 1em;
    grid-area: main;
}

footer {
    padding-top: 2em;
    background-color: #555;
    color: white;
    grid-area: footer;
}

.note {
    color: red;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
}

.blueNote {
    color: blue;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
    font-weight: bold;
}

.sketch img {
    width: 60%;
    height: auto;
}

/* .addmore > input {
    display:block;
    float: left;
    margin: 0 2em 2em 2em;
    padding: 0.5em 5em;
    text-decoration: none;
    background-color: whitesmoke;
    color:#555;
}

// Change the link color on hover
.addmore > input:hover {
    display:block;
    float: left;
    margin: 0 2em 2em 2em;
    padding: 0.5em 5em;
    text-decoration: none;
    background-color: #555;
    color: whitesmoke;
} */


.login {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 25%;
    text-align: center;
}

.wrapper input[type="text"],
.wrapper input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    align-items: baseline;
}

.input-group label {
    font-size: 12px;
    margin-right: 10px;
}

button,
input[type="submit"] {
    width: auto;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(71, 71, 71);
    transform: translateY(-2px);
    transition: 0.5s ease-in-out;
}

.error {
    color: red;
    font-style: italic;
    margin-top: 10px;
}

/* wrapper for note and table */
#table-section {
    text-align: center;
}

/* note to inform user */
.info {
    color: rgb(23, 133, 23);
    font-style: italic;
    font-size: 12px;
}

/* all table elements  */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 20px auto;
}

/* courses table */
#courses {
    margin-top: 40px;
}

/* table header section  */
thead {
    background-color: rgb(226, 226, 226);
}

/* table body section */
tbody {
    background-color: transparent;
}

/* table header and data */
th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}

/* targets the S/N column */
th:first-child {
    width: 20px;
}

/* styling for table icons */
.table-icon {
    width: 50px;
    margin: 0 auto;
}

/* styling for td elements with child elements */
.cell-with-list div {
    padding-bottom: 10px;
}

/* styling for td elements with only one child element */
.cell-with-list div:only-child {
    padding-bottom: 0;
}

.btn-group {
    display: flex;
    align-items: center;
}

.btn-group button {
    margin-right: 10px;
}

button[name='delete'] {
    background-color: rgb(121, 37, 37);
}

.linkaction {
    font-style: italic;
    color: #555;
}

/* styling for the currency select element */
select {
    background-color: #ffffff;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

select:hover {
    background-color: #f6f6f6;
}

select:focus {
    outline: none;
    box-shadow: none;
}

#undergraduate-fields,
#postgraduate-fields {
    display: none;
}

.form-input-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.form-input-wrapper label {
    font-size: 12px;
    margin-right: 5px;
    width: 10%;
}

textarea {
    height: 100px;
    resize: none;
}

.form-input-wrapper input,
.form-input-wrapper textarea {
    background-color: #ffffff;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
    padding: 5px 10px;
}

.form-input-wrapper select,
.form-input-wrapper input {
    width: 20%;
}

.form-textarea-wrapper {
    width: 20%;
    margin-left: -10px;
}

.form-textarea-wrapper textarea {
    width: 100%;
}

.required {
    color: red;
}

p.required {
    font-size: 11px;
    font-style: italic;
}

.form-input-group {
    display: flex;
    align-items: flex-start;
}

.form-input-group>div {
    margin-right: 30px;
    width: 40%;
}

.form-input-group .form-input-wrapper select,
.form-input-group .form-input-wrapper input,
.form-input-group .form-input-wrapper label,
.form-input-group .form-textarea-wrapper {
    width: 100%;
}

.form-input-group .second-col {
    margin-left: 5%;
}

.form-input-group .second-col .form-input-wrapper label {
    width: 35%;
}

.form-input-group .form-input-wrapper textarea {
    width: -webkit-fill-available;
}

.form-check {
    font-size: 12px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.form-check input[type="checkbox"] {
    width: 15px;
}

.fields-heading {
    font-weight: 600;
    margin: 20px 0;
}

#general-fields {
    display: "none";
}

.mb-15 {
    margin-bottom: 15px;
}


/* Modules */
.section-group {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
}

.cols {
    flex-basis: 50%;
}

.section-group .cols:first-child {
    margin-right: 40px;
}

#moduleform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#moduleform .form-input-wrapper {
    width: 100%;
    display: flex;
    align-items: baseline;
}

#moduleform label {
    flex-basis: 20%;
}

#moduleform input,
#moduleform select {
    flex-basis: 40%;
}

.section-group input[type="submit"] {
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    color: #555;
    padding: 0;
    margin: 0;
    font-family: serif;
}

.section-group .linkaction {
    font-size: 12px;
}

#cancel {
    background-color: #e4e4e4;
    color: #555;
    margin-left: 20px;
}

.info.img {
    margin: 0 0 5px;
}

/* Report section  */
.section-group .first-col {
    flex-basis: 45%;
    margin-right: 10%;
}

.first-col .label {
    font-weight: 600;
}

.section-group .second-col {
    flex-basis: 35%;
}

.report button {
    margin-top: 0;
    padding: 10px;
    background-color: #8e1717;
}

#combined-header {
    margin: 0 auto;
    text-align: center;
}

/* OVERLAY (SHOW MORE COURSE DETAILS) STYLES  */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    z-index: 10;
}

/* main content on the page  */
.overlay-content {
    background-color: white;
    margin: 4% auto;
    border-radius: 10px;
    padding: 30px;
    width: 70%;
    position: relative;
}

/* close button on the overlay */
#close-btn {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
}

/* custom close btn icon */
#close-btn #line1,
#close-btn #line2 {
    width: 15px;
    height: 2px;
    margin-bottom: 7.5px;
    background-color: black;
}

#close-btn #line1 {
    transform-origin: top left;
    transform: rotate(45deg);
}

#close-btn #line2 {
    transform-origin: bottom left;
    transform: rotate(-45deg);
}

/* first heading on the overlay page */
.details-heading {
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

/* span for the heading - for subject area */
.details-heading span {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: rgb(144, 144, 144);
    margin-left: 10px;
}

/* divider styling */
#course-content .divider {
    width: 50px;
    border-top: 3px solid rgb(182, 182, 182);
}

/* all other section headings on the overlay */
#course-content .section-head {
    font-size: 16px;
    margin: 25px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* sub headings on the overlay */
#course-content .sub-head {
    margin-top: 10px;
    font-weight: bold;
}
#course-content .text {
    margin-top: 5px;
}

/* styling for the currency select element */
#currency-wrapper select {
    background-color: #ffffff;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#currency-wrapper select:hover {
    background-color: #f6f6f6;
}

#currency-wrapper select:focus {
    outline: none;
    box-shadow: none;
}

/* for the FAQ section */
#course-content .question {
    margin-bottom: 10px;
    font-weight: bold;
}

#course-content .answer {
    margin-bottom: 10px;
}